PHP_XDEBUG_ENABLE=0
PHP_XDEBUG_MODE=debug
PHP_XDEBUG_REMOTE_PORT=9000
PHP_XDEBUG_IDEKEY=PHPSTORM
PHP_XDEBUG_REMOTE_ADDRESS=host.docker.internal
PHP_IDE_CONFIG=serverName=localhosts
OPCACHE_ENABLE=1
OPCACHE_ENABLE_CLI=1
SYSTEM_TIMEZONE=UTC
